/* Custom Class */
.my-10 {
    margin: 100px auto;
}

.my-20 {
    margin: 200px auto 100px;
}

.w-10 {
    width: 45px;
}

/* Navbar right side link */
.cart-btn {
    width: 110px;
    height: 36px;
    transition: all ease-in-out .4s;
}

.cart-btn:hover {
    background-color: black;
    color: white !important;
}

/* Header "Add to cart" button */
.cart-btn2 {
    width: 130px;
    height: 40px;
}

/* Products buttons */
.p-btn {
    transition: all ease-in-out .4s;
}

.p-btn:hover {
    background-color: black;
    color: white;
}

.product-badge {
    right: 10px;
    top: 10px;
}