body {
    background-color: #08080a;
    color: #72727a;
    margin: 20px 30px;
}

/* Logo */
.admin-span {
    font-size: 1.1rem;
}

.panel-span {
    font-size: .8rem;
    color: #72727a;
}

/* Horizontal Bar */
.horizontal {
    height: 1px;
    background-color: #72727a28;
}

/* Aside Links */
.aside-links a {
    text-decoration: none;
    display: flex;
    gap: 20px;
    align-items: center;
    color: #72727a;
    border-radius: 8px;
    padding-left: 20px;
    font-weight: 600;
    padding: 10px 20px;
    transition: all ease .4s;
}

.aside-links a:hover {
    background-color: #00000083;
    color: white;
}

/* Navbar */
.nav-links {
    transition: all ease .4s;
}

.nav-links:hover {
    color: white !important;
}