body {
    background-color: #08080a;
    color: #72727a;
    margin: 20px 30px;
}

/* Logo */
.admin-span {
    font-size: 1.1rem;
}

.panel-span {
    font-size: .8rem;
    color: #72727a;
}

/* Horizontal Bar */
.horizontal {
    height: 1px;
    background-color: #72727a28;
}