:root {
    --white-color: #ffffff;
    --gray-color: #d1d1d1;
    --gray-color2: #a6a6a6;
    --gray-color3: #ececec;
    --dark-color: #1f1f1f;
    --dark-color2: #1c1c1c;
    --dark-color3: #232323;
    --dark-color4: #262626;
    --dark-color5: #212121;
    --border-color: #ffffff32;
    --heading-font: "Ubuntu", sans-serif;
    --sub-font: "Nunito Sans", sans-serif;
    --animation: all ease-in .3s;
    --animation2: all ease .3s;
}

body {
    background-color: var(--dark-color);
    color: var(--white-color);
}

/* Navbar */
.nav-background {
    background-color: var(--dark-color2);
    border: 1px solid var(--border-color);
    bottom: 50%;
    transform: translateY(50%);
}

/* Navbar Link */
.nav-color a {
    color: var(--gray-color2);
    transition: var(--animation);
}

.nav-color a:hover {
    color: var(--white-color);
}

/* Navbar Icons Bar */
.nav-i-c a i {
    color: var(--white-color);
    background-color: #303030;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: var(--animation);
}

.nav-i-c a i:hover {
    color: #303030;
    background-color: var(--white-color);
}

/* Header Container */
.header-container {
    margin: 220px auto;
}

/* Header content section */
.header-content {
    position: relative;
}

.header-content .background-circle {
    position: absolute;
    background-color: #ececec1d;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    bottom: -20px;
    left: 50px;
    z-index: -1;
    animation: topDown 4s linear infinite alternate;
}

.header-content h1 {
    font-size: 4.6rem;
    font-weight: 700;
}

.header-content h1 .underline {
    border-bottom: 2px solid var(--white-color);
}

.header-content h4 {
    color: var(--gray-color);
}

.header-content h4 .color-w {
    color: var(--white-color);
    border-bottom: 2px solid var(--white-color);
}

.header-content p {
    width: 500px;
    font-size: 1.1rem;
    color: var(--gray-color);
}

.header-content .work-btn {
    color: var(--dark-color);
    background-color: var(--white-color);
    text-decoration: none;
    padding: 18px 30px;
    border-radius: 50px;
    font-weight: 700;
    margin-bottom: 100px;
    display: inline-block;
    transition: var(--animation2);
}

.header-content .work-btn:hover {
    transform: translateY(-5px);
    box-shadow: 1px 10px 20px var(--border-color);
}

.header-content .get-btn {
    color: var(--white-color);
    text-decoration: none;
    padding: 16px 30px;
    border: 2px solid var(--white-color);
    border-radius: 50px;
    font-weight: 700;
    margin-left: 15px;
    display: inline-block;
    transition: var(--animation2);
}

.header-content .get-btn:hover {
    transform: translateY(-5px);
    background-color: var(--white-color);
    color: var(--dark-color);
}

.header-content .social-m {
    margin-top: -50px;
    display: flex;
    gap: 15px;
}

.header-content .social-m a i {
    background-color: var(--dark-color3);
    color: var(--gray-color2);
    font-size: 1.5rem;
    border-radius: 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: var(--animation2);
}

.header-content .social-m a i:hover {
    background-color: var(--white-color);
    color: var(--dark-color);
    transform: translateY(-5px);
    box-shadow: 1px 10px 20px var(--border-color);
}

/* Header images section */
.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-image .background-circle2 {
    position: absolute;
    background-color: #ececec1d;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    top: -120px;
    right: 120px;
    z-index: -1;
    animation: topDown2 4s linear infinite alternate 1s;
}

.header-image img {
    width: 400px;
    aspect-ratio: 2/2;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 15px 15px 0 #ececec1d;
}

/* About Section */
.about-section {
    margin: 150px auto;
}

/* Left container of about section */
.about-left .a-l-content {
    background-color: var(--dark-color4);
    padding: 50px;
    border: 1px solid var(--border-color);
}

.about-left .a-l-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    height: 5px;
    background-color: var(--gray-color3);
    border-radius: 20px 20px 0 0;
}

/* Image */
.a-l-profile .img img {
    width: 150px;
}

.a-l-profile .img i {
    color: var(--dark-color);
    background-color: var(--gray-color3);
    font-size: .9rem;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--dark-color);
    border-radius: 50%;
    position: absolute;
    bottom: 12%;
    right: 35%;
}

/* About Cards */
.about-cards .cards {
    background-color: var(--dark-color5);
    border: 1px solid #ffffff14;
    transition: var(--animation2);
}

.about-cards .cards:hover {
    transform: translateY(-5px);
    box-shadow: 1px 10px 20px var(--border-color);
    cursor: pointer;
    background-color: var(--gray-color3);
}

.about-cards .cards:hover a {
    color: var(--dark-color2) !important;
}

/* Projects + Years + Client */
.pyc-container {
    background-color: #242424;
    height: 150px;
}














/* CSS Animation */
@keyframes topDown {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -20px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes topDown2 {
    0% {
        top: -120px;
    }

    50% {
        top: -150px;
    }

    100% {
        top: -120px;
    }
}