body {
    font-family: "Poppins", sans-serif;
    background-color: #e3e4e6;
}

/* Custom Class */
.my-10 {
    margin: 100px auto;
}

.dollar {
    font-size: 5rem;
}

.horizontal-bar {
    width: 150px;
    height: 4px;
}